body{
	font-family:'Do Hyeon', sans-serif;
	font-size: 1em;
	background: #21262A; 
	color: #D3E0E9;
}

header{
	text-align: center;
    color: #D3E0E9;
    background-image: url(/src/imgs/tpr_logo_gris.png);
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center center;
    opacity: 1;
}

.quite-float{
	float: none;
}

.name-club{
	font-family: 'Righteous', cursive;
	font-size: 3em;
}

.name-event{
	font-size: 2em;
}

.date-event{
	font-size: 1em;
}

