*{

    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    font-size: 1em;
    color: #21262A;
    background: #707D86;
    margin: auto;
}

header {
    text-align: center;
    color: #D3E0E9;
    background: #21262A; 
    background-image: url(/src/imgs/tpr_logo_gris.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    opacity: 1;
    font-family: 'Righteous', cursive;
}

img {
	max-width: 120px;
	max-height: 120px;
	align-content: center;
	border-radius: 10px;
}

h3 {
	text-transform: uppercase;
}

.quite-float {
	float: none;
}

.name-club {
    display: block;
    font-size: 3em;
    font-weight: 200;
}

.name-event {
    font-size: 1.25em;
    font-weight: 100;
}

.date-event {
    font-size: 1em;
    font-weight: 100;
}

@media(min-width:768px) {
    .container {
        padding-top: 10px;
        padding-bottom: 50px;
    }

    .name-club  {
        font-size: 4.75em;
    }

    .name-event {
        font-size: 1.75em;
    }

    .date-event {
    	font-size: 1em;
    	font-weight: 100;
    }

    .margin-div {
	margin: 1em;
	}

	.padding-bottom-div {
		padding-bottom: 3em
	}
}

.margenes-convo {
	min-height: 400px;
	border: 3px solid #8CA7B8;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.information {
	background: #D3E0E9;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Anton', sans-serif;
}

.title-convo {
	padding-top: 20px;
	font-size: 3em;
}

.btn {
	text-transform: uppercase;
}

.btn-gray {
	display: inline-block;
	vertical-align: middle;
  	background-color: #707D86;
  	border-color: #21262A;
  	margin-top: 10px;
  	margin-bottom: 10px;
  	color: #ffffff; 
}

.btn-gray:hover, .btn-gray:focus {
    background-color: #D3E0E9;
    color: #ffffff; 
}

.btn-blue {
  	background-color: #3DAAFF;
  	border-color: #21262A;
  	vertical-align: bottom;
  	color: #ffffff; 
}

.btn-blue:hover, .btn-blue:focus {
    background-color: #5DAAFF;
    color: #ffffff; 
}

.sponsors {
	background: #ffffff;
	font-family: 'Anton', sans-serif;
}

.center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 50%;
}

#sumo-convo {
	background-image: url(/src/imgs/convo/img_convo_msumo.jpeg);
}

#lbs-convo {
	background-image: url(/src/imgs/convo/img_convo_msumo.jpeg);
}

#perse-convo {
	background-image: url(/src/imgs/convo/img_convo_msumo.jpeg);
}

#reto-convo {
	background-image: url(/src/imgs/convo/img_convo_msumo.jpeg);
}